version: '3'

services:
  moodle:
    build: ./docker/moodle
    ports:
      - "127.0.0.1:80:80"
    volumes:
      - ./siteroot:/siteroot
{% if db == 'psql' %}
  db:
    image: postgres:{{ dbImageTag }}
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: moodle
      POSTGRES_USER: moodle_user
    volumes:
      - 'db:/var/lib/postgresql'
  test-db:
    image: postgres:{{ dbImageTag }}
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: moodle
      POSTGRES_USER: moodle_user
    volumes:
      - 'testdb:/var/lib/postgresql'
{% elif db == 'mysql' %}
  db:
    image: mysql:{{ dbImageTag }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1 --max_allowed_packet=32M --innodb_log_file_size=512M --explicit_defaults_for_timestamp=1
    volumes:
      - 'db:/var/lib/mysql'
  test-db:
    image: mysql:{{ dbImageTag }}
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle_user
      MYSQL_PASSWORD: password
    command: mysqld --innodb-file-format=Barracuda --innodb_file_per_table=1 --innodb_large_prefix=1 --max_allowed_packet=32M --innodb_log_file_size=512M --explicit_defaults_for_timestamp=1
    volumes:
      - 'testdb:/var/lib/mysql'
{% endif %}
volumes:
    db:
    testdb:
